<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SportX</title>
    <script src="./js/script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style_matches.css" />
  <link rel="stylesheet" href="./css/header_footer.css" />
</head>
<body>
	<header>
		<div class="header">
			<span class="tittle">SportX</span>
					<nav>
		<ul> 				
		<li><a href="HomePage.html"><strong>Home</strong></a></li> 	
		<li><a href="Community.html"><strong>Community</strong></a></li> 
						
					<li><a href="Login.html"><strong>Login</strong></a></li> 		
			</ul>
			</nav>
		</div>
	</header>
	<section class="section1">
		<div class="matches">
			<h1>Courts</h1>
		</div>
	</section>
	
	<div class="tab">
	  <div class="tabBorder">
		<a href="tennis.html">Tennis</a>
		<a href="basketball.html">Basketball</a>
		<a href="football.html">Football</a>
		<a href="swimming.html">Swimming</a>
		</div>
	</div>
	<section class="section2">
   <div class="cont">
		<div class="container">
		 
			<div class="card">
				<div class="container">
					<img src="matches.img/Basketball court.png" width="240" height="240"/>
					<div class="bottom">
					  <div class="left">
							<span>Basketball Court</span>
                            <span>Indoor / Outdoor</span>
					 </div>
					<div class="right"><a href="basketball.html"><strong>⟩</strong></a></div>
					</div>
				</div>
			</div>
		</div>
		
		
				<div class="container">
			<div class="card">
				<div class="container">
					<img src="matches.img/Football pitch.png" width="240" height="240"/>
					<div class="bottom">
					  <div class="left">
							<span>Football Pitch</span>
                            <span>Indoor / Outdoor</span>
					 </div>
						<div class="right"><a href="football.html"><strong>⟩</strong></a></div>
					</div>
				</div>
			</div>
		</div>
		
				<div class="container">
			<div class="card">
				<div class="container">
					<img src="matches.img/Swiming pool.png" width="240" height="240"/>
					<div class="bottom">
					  <div class="left">
							<span>Swimming Pool</span>
                            <span>Indoor / Outdoor</span>
					 </div>
						<div class="right"><a href="swimming.html"><strong>⟩</strong></a></div>
					</div>
				</div>
			</div>
		</div>
		
				<div class="container">
			<div class="card">
				<div class="container">
					<img src="matches.img/Tennis court.png" width="240" height="240"/>
					<div class="bottom">
					  <div class="left">
							<span>Tennis Court</span>
                            <span>Indoor / Outdoor</span>	
							</span>
					 </div>
						<div class="right"><a href="tennis.html"><strong>⟩</strong></a></div>
					</div>
				</div>
			</div>
		</div>
		</div>
		
	</section>
	
	<footer>
        <section class="footer">
            <div class="brand-container">
                <ul class="content">
                    <li><h1><a href="HomePage.html">SportX</a></h1></li>
                    <li>Rent private courts for great playing</li>
                </ul>
            </div>
            <div class="pages-container">
                <ul class="content">
                    <li><h1>Pages</h1></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="ContactUs.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="contact-container">
                <ul class="content">
                    <li><h1>Contact</h1></li>
                    <li><a href="#">Riyadh, Saudi Arabia</a></li>
                    <li><a href="#">contact@sports.com</a></li>
                </ul>
            </div>
        </section> 
        <section class="copyright">
            <p>Copyright © <a href="HomePage.html"><strong>SportX</strong></a> | 2023</p>
        </section>
    </footer>

</body>
</html>