<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    
    <title>SportX</title>

    <link rel="stylesheet" href="HomeStyle.css">

    <style>
        /*IMPORT FONT FAMILY*/

        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
 
    <!--header starts-->
    <header>
		<div class="header">
			<h1><span><a href="/">SportX</a></span></h1>
			<nav>
			<ul>
				<li><a href="/"><strong>Home</strong></a></li>
				<li><a href="/community"><strong>Community</strong></a></li>
				<li><a href="/login"><strong>Login</strong></a></li>
			</ul>
			</nav>
		</div>
	</header>
    <!--header ends-->

    <!-- Hero Start (الكلام الرئيسي بالواجهه)-->
    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>The body achieves what <br> the mind believes.</h1>
                        <p>
                            Play, compete, have fun with SportX
                        </p>
                        <div class="hero-btn">
                            <a class="btn" href="/register">Get Started 🡢</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End (الكلام الرئيسي بالواجهه)-->

    <!--Table Starts-->
        <section class="table">
            <div class="BB">
                <ul class="content">
                    <li><h1>1. Browse & Book</h1></li>
                    <li>Find a great court near you. Book by the hour or longer, for the day and time of your choice. Reserve multiple days to secure playtime at discount prices.</li>
                </ul>
            </div>
            <div class="HF">
                <ul class="content">
                    <li><h1>2. Have fun!</h1></li>
                    <li>Hassle-free and no crowds. We’ll handle the payments so you can concentrate on having fun. Unlock access to unique courts and new playing experiences!</li>
                </ul>
            </div>
            <div class="LR">
                <ul class="content">
                    <li><h1>3. Leave a review</h1></li>
                    <li>If your experience was enjoyable, write a review and share the listing with your friends who are looking for a great court.</li>
                </ul>
            </div>
        </section>
    <!--Table Ends-->

        <!-- Services Class Starts -->
        <section class="sectionS">
            <div class="cont">
    
                    <div id="pic" class="container">
                    <div class="card">
                    <div class="container">
                    <a href="/community"><img src="/images/CommunityService.svg" /></a>
                    </div>
                    </div>
                    </div>
                 
                    <div id="pic" class="container">
                    <div class="card">
                    <div class="container">
                    <a href="/matches"><img src="/images/MatchesService.svg" /></a>
                    </div>
                    </div>
                    </div>
                 
                    <div id="pic" class="container">
                    <div class="card">
                    <div class="container">
                    <a href="/competition"><img src="/images/CompetitionsService.svg" /></a>
                    </div>
                    </div>
                    </div>
                 
                    <div id="pic" class="container">
                    <div class="card">
                    <div class="container">
                    <a href="Leaderboard.html"><img src="/images/LeaderboardService.svg" /></a>
                    </div>
                    </div>
                    </div>
    
                 </div>
             </section>
        <!-- Services Class Ends -->

    
    <!-- (OUR CUSTOMERS SAY) STARTS -->
    <div class="ourc">
        <div class="container">
            <div class="ourcimg">
                <img src="/images/OurCustomersSay.svg">
            </div>
        </div>
    </div>
    <!-- (OUR CUSTOMERS SAY) ENDS -->



    <!-- BOOK Class Start -->
    <div class="class">
        <div class="container">
            <div class="book-write">
                <h2>Book a court Now!</h2>
                <p>Whether you’re looking for a multi-sport playground, basketball training ground,
                     or Tennis center, we know it’s an investment in a future of fostering dedication
                      and commitment. So reach out to book a time to experience the SportX® quality courts yourself.</p>
            </div>
            <section class="section2">
                <div class="cont">
                     <div class="container">
                         <div class="card">
                             <div class="container">
                                 <img src="/images/Basketball Court.png" width="240" height="240"/>
                                 <div class="bottom">
                                   <div class="left">
                                         <span><strong>Basketball Court</strong></span>
                                         <span id="s2">Indoor / Outdoor</span>
                                  </div>
                                 <div class="right"><a href="/basket"><strong>⟩</strong></a></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     
                     
                             <div class="container">
                         <div class="card">
                             <div class="container">
                                 <img src="/images/Football Pitch.png" width="240" height="240"/>
                                 <div class="bottom">
                                   <div class="left">
                                         <span><strong>Football Pitch</strong></span>
                                         <span id="s2">Indoor / Outdoor</span>
                                  </div>
                                 <div class="right"><a href="/foot"><strong>⟩</strong></a></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     
                             <div class="container">
                         <div class="card">
                             <div class="container">
                                 <img src="/images/Swimming Pool.png" width="240" height="240"/>
                                 <div class="bottom">
                                   <div class="left">
                                         <span><strong>Swimming Pool</strong></span>
                                         <span id="s2"> Indoor / Outdoor</span>
                                  </div>
                                 <div class="right"><a href="/swim"><strong>⟩</strong></a></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     
                             <div class="container">
                         <div class="card">
                             <div class="container">
                                 <img src="/images/Tennis Court.png" width="240" height="240"/>
                                 <div class="bottom">
                                   <div class="left">
                                         <span><strong>Tennis Court</strong></span>
                                         <span id="s2">Indoor / Outdoor</span>
                                  </div>
                                 <div class="right"><a href="/tennis"><strong>⟩</strong></a></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     </div>
                 </section>
    <!-- BOOK Class End -->

    <!--OUR COUNTER STARTS-->
    <section class="counter">
        <div class="first">
            <ul class="content1">
                <li><h1>10</h1></li>
                <li>Years Of Experiance</li>
            </ul>
        </div>
        <div class="second">
            <ul class="content1">
                <li><h1>15k+</h1></li>
                <li>Matches</li>
            </ul>
        </div>
        <div class="third">
            <ul class="content1">
                <li><h1>5K</h1></li>
                <li>Users</li>
            </ul>
        </div>
    </section>
<!--OUR COUNTER ENDS-->


 <!--DONE OF ALL JOIN US (STYLING ALSO)-->
    <div class="container" id="joinus">

        <h1 ALIGN="center">Wanna join Our community?</h1>
        <div>
            <p ALIGN="center" id="joinp">Join our community and meet new people!</p>
        </div>

        <div class="join-btn" ALIGN="center" > 
            <a class="join-btn" href="/register" >Join 🡢</a>
        </div>

    </div>
 <!--DONE OF ALL JOIN US (STYLING ALSO)-->



<!--footer starts-->
<footer>
    <section class="footer">
        <div class="brand-container">
            <ul class="content">
                <li><h1><a href="/">SportX</a></h1></li>
                <li>Rent private courts for great playing</li>
            </ul>
        </div>
        <div class="pages-container">
            <ul class="content">
                <li><h1>Pages</h1></li>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="contact-container">
            <ul class="content">
                <li><h1>Contact</h1></li>
                <li><a href="NotFound.html">Riyadh, Saudi Arabia</a></li>
                <li><a href="#">contact@sports.com</a></li>
            </ul>
        </div>
    </section>
    <section class="copyright">
        <p>Copyright &copy; <a href="/"><strong>SportX</strong></a> | 2023</p>
    </section>
</footer>
<!--footer ends-->


    

</body>

</html>